extends layouts/main-layout.pug

block content
    if !profileUser
        span.w-100.d-flex.alert.alert-info.noResults.errorMessage(role='alert') You are not authorized.
    else  
        script.
            const profileUserId = '!{profileUser._id}';
            const selectedTab = '!{selectedTab}';

        .tabsContainer
            +createTab("Following", `/profile/${profileUser.username}/following`, selectedTab != "followers")
            +createTab("Followers", `/profile/${profileUser.username}/followers`, selectedTab == "followers")

        .followResultsContainer

block scripts
    script(src="/js/followersAndFollowing.js")