extends layouts/login-layout.pug

block content
    img.logo(src='/images/login/logo.svg')
    .loginContainer
        h1 Log in to NotTwitter
        - if (errorMessage)
            span.w-100.d-flex.alert.alert-info.noResults.errorMessage(role='alert')= `Error: ${errorMessage}` 
        form(method="post")
            input(type="text", name="logUsername", placeholder="Phone, email, or username", value="m90khan" required="")
            input(type="password", name="logPassword", placeholder="Password", value="test1234" required="")
            input(type="submit", value="Login")
        p
            a(href="/register") Forgot Password? -  
            a(href="/register") Register here