:root {
  --blue: #1fa2f1;
  --blueLight: #9bd1f9;
  --blueDark: #0064a7af;
  --blueBackground: rgba(212, 237, 255, 0.6);
  --buttonHoverBg: #17202a;
  --lightGrey: rgb(230, 236, 240);
  --spacing: 15px;
  --greyText: rgb(69, 79, 88);
  --greyButtonText: rgba(0, 0, 0, 0.34);
  --red: rgb(226, 34, 94);
  --redBackground: rgba(226, 34, 94, 0.3);
  --green: rgb(23, 191, 99);
  --greenBackground: rgba(23, 191, 99, 0.3);
  --white: #fff;
  --black: #000;
}

.greyText {
  color: var(--greyText);
  font-weight: 400;
}
.white {
  color: var(--white);
  font-weight: 400;
}
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  min-height: 100%;
  background-color: #000;
  font-weight: 300;
}

ul {
  margin: 0;
}

* {
  outline: none !important;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: var(--blueBackground);
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: var(--blueBackground);
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: var(--blueBackground);
}
:-moz-placeholder {
  /* Firefox 18- */
  color: var(--blueBackground);
}
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 1.2rem;
  font-weight: 800;
  margin: 0;
}
.logo-home {
  width: 2rem;
  height: 2rem;
}
nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
.tweet-btn {
  background-color: var(--blue);
  border-radius: 5rem;
  color: white;
  border: none;
  border-radius: 3rem;
  padding: 0.4rem 1.2rem;
  font-size: 1.1rem;
  margin-top: 0.2rem;
  font-weight: 700;
}
.tweet-btn--large {
  padding: 1rem 2rem;
  width: 100%;
  margin-top: 1rem;
}
@media (min-width: 687px) {
  .send-icon {
    display: none;
  }
}
.tweet-btn:hover {
  background-color: #047ecf;
  color: #fff;
}
.tweet-btn:disabled {
  background-color: var(--blueDark);
  color: rgb(182, 182, 182);
}
nav a {
  padding: 0rem 2rem 0 1rem;
  font-size: 1.8rem;
  margin-bottom: 0.3rem;
  /* width: 55px; */
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
  transition: all 0.2s ease-in;
}
nav a h1 {
  margin-left: 1.5rem;
  font-weight: 700;
}
@media (max-width: 700px) {
  nav a h1 {
    display: none;
  }
  .tweet-btn--large {
    padding: 0.5rem;
    background-color: var(--blue);
    border-radius: 50%;
  }
}
nav a.blue {
  color: var(--blue);
}

nav a:hover {
  background-color: var(--buttonHoverBg);
  color: var(--blue);
  border-radius: 50rem;
}
nav .active-item {
  color: var(--blue);
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper > .row {
  margin: 0;
  height: 100%;
}

button {
  background-color: transparent;
  border: none;
  color: var(--greyText);
}

button i,
button span {
  pointer-events: none;
}

.mainSectionContainer {
  /* margin: 0 1rem; */
  border-left: 1px solid var(--greyText);
  border-right: 1px solid var(--greyText);
  display: flex;
  flex-direction: column;
  position: relative;
}

.titleContainer {
  height: 3.5rem;
  padding: 0 var(--spacing);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--greyText);
  flex-shrink: 0;
  color: var(--white);
  background: var(--black);
}

.titleContainer h1 {
  flex: 1;
}

.postFormContainer {
  display: flex;
  padding: var(--spacing);
  border-bottom: 0.6rem solid var(--greyText);
  flex-shrink: 0;
}
.modal {
  background-color: rgba(106, 127, 145, 0.4);
}
.btn-close--modal {
  position: relative;
  left: 0.8rem;
  background: transparent;
}
@media (min-width: 567px) {
  .modal-dialog {
    max-width: 600px;
  }
}

.modal-content {
  background-color: var(--black) !important;
  border-radius: 1rem;
  color: var(--blue);
}

.modal-header,
.modal-footer {
  border-color: var(--greyText);
}
.modal .postFormContainer {
  border: none;
  padding: 0;
  padding-top: var(--spacing);
}

.modal .post {
  padding: 0 0 var(--spacing) 0;
}

.userImageContainer {
  width: 3rem;
  height: 3rem;
}

.userImageContainer img {
  width: 100%;
  border-radius: 50%;
  background-color: white;
}

.textareaContainer {
  flex: 1;
  padding-left: var(--spacing);
  text-align: right;
}

.textareaContainer textarea {
  background: rgb(12, 15, 17);

  color: var(--white);
  width: 100%;
  border: none;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  resize: none;
  font-size: 19px;
}

/* #submitPostButton {
  background-color: var(--blue);
  color: white;
  border: none;
  border-radius: 5rem;
  padding: 0.4rem 1.2rem;
  font-size: 1.1rem;
  margin-top: 0.2rem;
  font-weight: bold;
} */

/* POST */
.post {
  display: flex;
  flex-direction: column;
  padding: var(--spacing);
  cursor: pointer;
  border-bottom: 1px solid var(--greyText);
  flex-shrink: 0;
}

.mainContentContainer {
  flex: 1;
  display: flex;
  overflow-y: hidden;
}

.postContentContainer {
  padding-left: var(--spacing);
  display: flex;
  flex-direction: column;
  flex: 1;
  color: var(--white);
}

.username,
.date {
  color: var(--greyText);
  font-weight: 500;
}

.displayName {
  font-weight: bold;
}

.postFooter {
  display: flex;
  align-items: center;
}

.postFooter .postButtonContainer {
  flex: 1;
  display: flex;
  padding: 0.5rem 0 0 0;
}

.postFooter .postButtonContainer button {
  color: var(--greyText);
  padding: 0.3rem 0.5rem;
}

.header a:hover {
  text-decoration: underline;
}

.header a,
.header span {
  padding-right: 5px;
}

.postButtonContainer button:hover {
  background-color: var(--buttonHoverBg);
  color: var(--blue);
  border-radius: 50rem;
}

/* .postButtonContainer button span {
  color: var(--greyText);
} */

/* .postButtonContainer.red button.active {
  color: var(--red);
} */

.postButtonContainer.red button:hover {
  color: var(--red);
  background-color: var(--redBackground);
}

/* .postButtonContainer.green button.active {
  color: var(--green);
} */

.postButtonContainer.green button:hover {
  color: var(--green);
  background-color: var(--greenBackground);
}

.postActionContainer {
  padding-left: 2rem;
  font-size: 0.8rem;
  color: var(--greyText);
  margin-bottom: 0.6rem;
  font-weight: 500;
}
.postActionContainer span:hover {
  text-decoration: underline;
  color: var(--green);
}
.replyFlag {
  margin-bottom: 0.5rem;
}

.replyFlag a {
  color: var(--blue);
}

.post.largeFont .postBody,
.post.largeFont .postFooter {
  font-size: 1.5rem;
  font-weight: 700;
}

.postBody span {
  font-weight: 400;
}
.postContentContainer .header {
  display: flex;
}

.postContentContainer .header .date {
  flex: 1;
}

.errorMessage {
  padding: var(--spacing);
  color: var(--blue);
  margin-top: 0.5rem;
  font-weight: 500;
}

.coverPhotoSection {
  height: 12rem;
  background-color: var(--blue);
  position: relative;
}

.profileHeaderContainer .userImageContainer {
  width: 132px;
  height: 132px;
  margin-left: var(--spacing);
  position: absolute;
  bottom: -66px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profileHeaderContainer .userImageContainer img {
  border: 4px solid var(--black);
}

.profileHeaderContainer .profileButtonsContainer {
  text-align: right;
  padding: var(--spacing);
  min-height: 66px;
}

.profileButton,
.editProfile,
.followButton {
  border: 2px solid var(--blue);
  color: var(--blue);
  font-weight: bold;
  padding: 0.2rem 0.8rem;
  border-radius: 5rem;
  display: inline-block;
  margin-left: var(--spacing);
}
.followButton {
  padding: 0.3rem 0.8rem;
}
.editProfile:hover,
.profileButton:hover,
.followButton:hover {
  background-color: var(--blueDark);
  color: var(--white);
}

.followButton.following {
  background-color: var(--blue);
  color: #fff;
}

.profileHeaderContainer .userDetailsContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem var(--spacing);
}

.followersContainer .value {
  font-weight: bold;
  margin-right: 0.6rem;
}

.followersContainer span:not(.value) {
  color: var(--greyText);
}

.followersContainer a {
  margin-right: 1.1rem;
}

.followersContainer a:hover {
  border-bottom: 1px solid #000;
}

.tabsContainer {
  display: flex;
  border-bottom: 1px solid var(--greyText);
  flex-shrink: 0;
}

.tab {
  flex: 1;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--greyText);
  font-weight: bold;
}

.tab.active {
  color: var(--blue);
  border-bottom: 2px solid var(--blue);
}

.tab:hover {
  color: var(--blue);
  background-color: var(--blueDark);
}

.noResults {
  padding: var(--spacing);
}

.followResultsContainer {
  display: flex;
  flex-direction: column;
}

.followResultsContainer .user {
  padding: var(--spacing);
  display: flex;
  border-bottom: 1px solid var(--greyText);
}
.user {
  flex-direction: row;
  display: flex;
  padding: 1.5rem 1rem;
  border-bottom: 2px solid var(--greyText);
}
.user .userDetailsContainer {
  flex: 1;
  padding: 0 var(--spacing);
}
.userDetailsContainer .user-description {
  color: var(--white);
  font-weight: 400;
  margin: 0.2rem 0 0 0;
}
.user .userDetailsContainer a {
  display: block;
  color: var(--white);
  font-weight: bold;
}
.user .userDetailsContainer .follow-you {
  background: rgba(106, 127, 145, 0.4);
  color: var(--white);
  opacity: 0.5;
  padding: 0.1rem 0.4rem;
  font-size: 0.9rem;
}
.profilePictureButton,
.coverPhotoButton {
  position: absolute;
  font-size: 5rem;
  color: rgba(0, 0, 0, 0.6);
  display: none;
}

.userImageContainer:hover .profilePictureButton,
.coverPhotoSection:hover .coverPhotoButton {
  display: block;
}

.coverPhotoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.coverPhotoContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#imagePreview,
#coverPreview {
  width: 100%;
  display: block;

  /* This rule is very important, please don't ignore this */
  max-width: 100%;
}

.pinButton.active {
  color: var(--blue);
}

.pinnedPostText {
  font-size: 14px;
  font-weight: 400;
  color: var(--greyText);
}

.pinnedPostContainer {
  border-bottom: 0.3rem solid var(--greyText);
}

.searchBarContainer {
  position: relative;
  color: var(--greyText);
  padding: 1rem var(--spacing);
}

.searchBarContainer i {
  position: absolute;
  top: 26px;
  left: 28px;
  color: var(--blueBackground);
}

.searchBarContainer #searchBox {
  height: 36px;
  width: 100%;
  padding: 0.4rem 1rem 0.4rem 3rem;
  border-radius: 5rem;
  background-color: var(--greyText);
  border: none;
  color: var(--white);
}
.searchBarContainer #searchBox:focus {
  outline: none !important;
  background-color: var(--greyButtonText);
  border: 2px solid var(--blue);
}

.chatPageContainer {
  display: flex;
  flex-direction: column;
  min-height: 0;
  flex: 1;
  flex-basis: 0;
}
.new-chat {
  color: var(--white);
  transition: all 0.2s ease-in;
}
.new-chat:hover {
  color: var(--blue);
}
.chatTitleBar {
  border-bottom: 1px solid var(--greyText);
  display: flex;
  align-items: center;
  min-height: 5rem;
  padding: 0.8rem;
}
.chatTitleBar #selectedUsers {
  width: 100%;
}
.chatTitleBar label {
  margin: 0 1rem 1rem 0;
}

#userSearchTextbox {
  border: none;
  flex: 1;
  font-weight: 200;
  min-width: 200px;
}

#createChatButton {
  border: none;
  background-color: var(--blue);
  color: #fff;
  padding: 7px 20px;
  margin: 10px auto;
  border-radius: 40px;
}

#createChatButton:disabled {
  background-color: var(--blueDark);
  color: var(--blueBackground);
}

.selectedUser {
  font-weight: 600;
  background-color: var(--buttonHoverBg);
  color: var(--blue);
  border: 2px solid var(--blue);
  padding: 5px;
  border-radius: 3px;
  margin: 5px 5px 5px 0;
  display: inline-block;
}

.resultListItem {
  padding: 7px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid var(--greyText);
}

.resultListItem:hover {
  background-color: rgba(104, 115, 124, 0.2);
}
.resultListItem:hover .subText {
  color: var(--white);
}
.resultsDetailsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.resultsDetailsContainer .heading {
  font-weight: 600;
  color: var(--white);
}

.resultsDetailsContainer .subText {
  color: var(--greyText);
  font-size: 14px;
  font-weight: 400;
}

.resultListItem img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 2px solid var(--blue);
}

.resultsImageContainer {
  height: 40px;
  width: 40px;
  position: relative;
  margin-right: 10px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.groupChatImage img {
  height: 65%;
  width: 65%;
  position: absolute;
  bottom: 0;
  margin: 0;
  border: 2px solid var(--blue);
}
.groupChatImage img:nth-child(1) {
  top: 0;
  right: 0;
}
.groupChatImage img:nth-child(2) {
  top: 0.8rem;
  right: 0.5rem;
}
.groupChatImage img:nth-child(3) {
  top: 0;
  left: 0;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chatTitleBarContainer {
  border-bottom: 2px solid var(--greyText);
  display: flex;
  align-items: center;
  padding: var(--spacing);
  color: var(--greyText);
}

#chatName {
  width: 100%;
  border: 1px solid transparent;
  padding: 0 0.5rem;
  color: var(--blue);
  font-weight: 600;
}

#chatName:hover {
  border: 1px solid var(--blue);
  cursor: text;
}

.chatContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

.chatContainer .footer {
  display: flex;
  padding: var(--spacing);
  flex-shrink: 0px;
}

.chatContainer .footer textarea {
  flex: 1;
  resize: none;
  background-color: rgb(17, 20, 22);
  border-radius: 2rem;
  border: none;
  padding: 0.6rem 0.8rem;
  height: 3rem;
  color: var(--white);
}

.chatContainer .footer button {
  background-color: transparent;
  color: var(--blue);
  font-size: 24px;
}

.chatMessages {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: var(--spacing);
}

.chatImagesContainer {
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  margin-right: 0.8rem;
}

.chatImagesContainer img {
  width: 40px;
  height: 40px;
  border: 2px solid var(--blue);
  border-radius: 50%;
}

.chatImagesContainer .userCount {
  height: 40px;
  width: 40px;
  background-color: rgb(12, 15, 17);
  color: var(--blue);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  border: 2px solid var(--blue);
}

.chatImagesContainer img:not(:last-child),
.chatImagesContainer .userCount {
  margin-left: -10px;
}

#chatNameTextbox {
  width: 100%;
}

.chatMessages .message {
  padding-bottom: 2px;
  list-style: none;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}

.typingDots img,
.chatMessages .message .messageBody {
  background-color: rgb(26, 32, 36);
  color: var(--white);
  padding: 0.6rem 0.8rem;
  border-radius: 2rem;
  font-size: 14px;
  font-weight: 400;
}

.typingDots img {
  height: 3rem;
}

.typingDots {
  padding: var(--spacing);
  padding-bottom: 0;
  display: none;
}

.chatMessages .message .messageContainer {
  display: flex;
  flex-direction: column;
  max-width: 55%;
}

.chatMessages .message.mine .messageContainer {
  align-items: flex-end;
}

.chatMessages .message.theirs .messageContainer {
  align-items: flex-start;
}

.chatMessages .message.mine {
  flex-direction: row-reverse;
}

.chatMessages .message.mine .messageBody {
  background-color: var(--blue);
  color: #fff;
}

.chatMessages .message.mine.first .messageBody {
  border-bottom-right-radius: 3px;
}

.chatMessages .message.mine:not(.first):not(.last) .messageBody {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
}

.chatMessages .message.mine.last .messageBody {
  border-bottom-right-radius: 18px;
}

.chatMessages .message.mine.last:not(.first) .messageBody {
  border-top-right-radius: 2px;
}

.chatMessages .message.theirs.first .messageBody {
  border-bottom-left-radius: 2px;
}

.chatMessages .message.theirs:not(.first):not(.last) .messageBody {
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

.chatMessages .message.theirs.last .messageBody {
  border-bottom-left-radius: 18px;
}

.chatMessages .message.theirs.last:not(.first) .messageBody {
  border-top-left-radius: 2px;
}

.senderName {
  color: var(--greyText);
  font-size: 10px;
  font-weight: 400;
  padding: 0.3rem;
}

.chatMessages .imageContainer {
  height: 24px;
  width: 24px;
  margin-right: 0.6rem;
  margin-bottom: 1.8rem;
}

.chatMessages img {
  height: 100%;
  border-radius: 50%;
  vertical-align: bottom;
}

.chatMessages .message.last {
  margin-bottom: 7px;
}

.loadingSpinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.loadingSpinnerContainer .spinner-grow {
  color: var(--blue);
  background: var(--blue) !important;
  margin: 0 1rem;
}

.loadingSpinnerContainer img {
  width: 25%;
  max-width: 75px;
}

.resultListItem.active {
  background-color: var(--greyText);
}
.resultListItem.active:hover {
  background-color: var(--blue);
}

.resultListItem.notification * {
  pointer-events: none;
}

#notificationBadge,
#messagesBadge {
  background-color: var(--red);
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 2px;
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

#notificationBadge.active,
#messagesBadge.active {
  visibility: visible;
}

#notificationList {
  position: fixed;
  top: 5px;
  right: 5px;
  width: 350px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

#notificationList .active {
  background-color: white;
}

form {
  display: flex;
  flex-direction: column;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 2px;
  border: 1px solid #3a444c;
  background-color: #000;
  color: #fff;
}

.profileTextarea textarea {
  margin-bottom: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 2px;
  border: 1px solid #3a444c;
  background-color: #000;
  color: #fff;
  width: 100%;
  resize: none;
}
input:focus {
  outline: 1px solid #0099ff !important;
}
input[type='submit'] {
  background-color: #0099ff;
  color: #fff;
  border: none;
  border-radius: 5rem;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.8rem 1rem;
  margin: 1rem 0;
}

input[type='submit']:hover {
  background-color: #047ecf;
  color: #fff;
}
